::-webkit-scrollbar{
  width:12px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(20,20,20);
  border:3px solid rgb(230,230,230);
  border-radius: 6px;
}
::-webkit-scrollbar-track{
  background-color: rgb(230,230,230);
}
.link{
  text-decoration: none;
  color: rgb(200,200,200);
  font-weight: 500;
  display: inline-block;
}
.link::after{
  content: "";
  background-color: rgb(200,200,200);
  display:block;
  position: relative;
  width:100%;
  height:2px;
  margin-top: 0px;
  margin-bottom: -100px;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.link:hover::after{
  opacity: 1;
  margin-top: -4px;
}
*{
  box-sizing: border-box;
  font-family: 'Noto Serif TC',serif;
  font-weight: lighter;
  line-height: 1.75;
}
td{
  padding: 5px;
}
html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  color: rgb(40,40,40);
  scroll-behavior: smooth;
}
h1, h2, h3{
  text-align: center;
}
h1{
  font-family: 'cinzel',serif;
  letter-spacing: 0.2em;
  font-size: 40px;
  margin: 0;
  font-weight: lighter;
}
h2{
  font-family: 'Quicksand',sans-serif;
  letter-spacing: 0.2em;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
}
h3{
  font-family: 'cinzel',serif;
  letter-spacing: 0.2em;
  font-size: 40px;
  margin: 0;
  font-weight: lighter;
}
hr{
  height: 40px;
  padding: 0;
  margin: 0;
  border: 0;
}
footer{
  padding: 10px;
  color: rgb(255,255,255);
  background-color: rgb(40,40,40);
  text-align: center;
}
input{
  width:100%;
  max-width: 300px;
  background-color: rgb(240, 243, 246);
  border: 1px solid rgba(134,137,138);
  padding: 3px 3px 3px 12px;
  margin: 5px 0;
}
input:focus{
  outline: none;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}
form{
  padding: 30px 0;
}
td:first-child{
  text-align: right;
}
.gallery{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pic{
  margin: 0;
  padding: 0;
  border: 0;
  height:100px;
  width:25%;
}
.preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgb(255,255,255);
}
.preloaderhidden{
  opacity: 0;
  visibility: hidden;
}
/**NAV STUFF**/
.nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 900;
  background-color: rgba(0,0,0,.75);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.navopen{
  -webkit-transform: initial;
  -ms-transform: initial;
  -moz-transform: initial;
  -o-transform: initial;
  transform: initial;
}
.navinner{
  padding: 0 30px;
}
.navitems{
  display: block;
  text-align: center;
  text-decoration: none;
  border-top: 4px solid transparent;
  padding: 10px 30px;
  font-size: 22px;
  color: rgb(255,255,255);
}
.navitems:hover{
  border-color: rgb(255,255,255);
}
.navitemsactive{
  border-color: rgb(255,255,255);
}
.navlogo{
  background-image: url(https://static.wixstatic.com/media/f4a7f8_eb7d47fa0c0044f5b16ccc8a7a0b9968~mv2_d_1249_1247_s_2.png/v1/crop/x_146,y_133,w_964,h_956/fill/w_145,h_144,al_c,q_80,usm_0.66_1.00_0.01/QQ%E5%9B%BE%E7%89%8720190213111456.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size:cover;
  background-size: cover;
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  display: block;
}
.escaper{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  width:100%;
  height:100%;
  visibility: hidden;
}
.escaperopen{
  visibility: visible;
}
.navtoggle{
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 8px;
  background-color: rgb(40,40,40);
  fill: rgb(255,255,255);
  z-index: 1000;
  top: 20px;
  right: 20px;
  overflow: hidden;
  display: block;
}
.navtoggleopen{
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}
/**GENERIC STUFF**/
.pointfive{
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
[class *= 'flexcol']{
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.background{
  background: rgb(255,255,255);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size:cover;
  background-size: cover;
}
[class *= 'flexcol'][class *= '-stretch']{
  -webkit-align-items: stretch;
  align-items: stretch;
}
/**CAROUSEL STUFF**/
.carouselbox{
  height: 75%;
  min-height: 568px;
}
.carouselinner{
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.carouselslide{
  width: inherit;
  height: inherit;
  color: rgb(255,255,255);
  display: none !important;
  -webkit-animation: carouselFade 1s ease 0s 1 normal both running;
  -moz-animation: carouselFade 1s ease 0s 1 normal both running;
  -o-animation: carouselFade 1s ease 0s 1 normal both running;
  animation: carouselFade 1s ease 0s 1 normal both running;
}
.slidetext{
  margin: 0 10%;
  text-align: center;
  color: rgb(255,255,255);
}
.slideactive{
  display: flex !important;
}
.carouselbuttonbox{
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 100%;
  user-select: none;
}
.carouselbutton{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  margin: 0 5px;
  background-color: rgb(255,255,255);
}
.buttonactive{
  background-color: rgb(152,148,152);
}
.carouselarrow{
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 50px;
  color: rgb(255,255,255);
  user-select: none;
  display: none;
}
.carouselarrow:hover{
  color: rgb(152,148,152);
}
.carouselarrowleft{
  left: 0;
}
.carouselarrowright{
  right: 0;
}
/**CONTENT STUFF**/
.halfbox{
  width: 100%;
  height: auto;
  padding: 0 30px;
}
.halftext{
  width: 100%;
  margin: 30px 0;
}
.halfimage{
  width: 100%;
  padding-top: 75%;
}
.splashhalf{
  height: 50%;
  min-height: 300px;
  padding: 0 20%;
  color: rgb(255,255,255);
}
.greybutton{
  font-family: 'Quicksand',sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: rgb(255,255,255);
  background-color: rgb(50,50,50);
  margin: 5px;
  padding: 10px 20px;
}
.greybutton:hover{
  background-color: rgb(0,0,0);
}
.textbackground{
  color: white;
  background-color: rgba(0,0,0,.5);
  display: inline-block;
  padding: 5px 8px;
  border-radius: 2px;
}
/**ANIMATIONS**/
@-webkit-keyframes carouselFade {
  from{
    opacity:.7;
  }
  to{
    opacity: 1;
  }
}
@-moz-keyframes carouselFade {
  from{
    opacity:.7;
  }
  to{
    opacity: 1;
  }
}
@-o-keyframes carouselFade {
  from{
    opacity:.7;
  }
  to{
    opacity: 1;
  }
}
@keyframes carouselFade {
  from{
    opacity:.7;
  }
  to{
    opacity: 1;
  }
}
/**RESIZE @ 900PX**/
@media only screen and (min-width: 900px) {
  /**NAV STUFF**/
  .nav{
    position: absolute;
    width: 100%;
    height: auto;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
    background-color: transparent;
  }
  .navlogo{
    margin: 0 30px 0 0;
  }
  .navinner{
    padding: 0;
  }
  .navitems{
    padding: 30px 50px;
    color: rgb(40,40,40);
  }
  .navitems:hover{
    border-color: rgb(40,40,40);
  }
  .navitemsactive{
    border-color: rgb(40,40,40);
  }
  .navtoggle{
    display: none;
  }
  .navstatic{
    position: static;
  }
  /**CONTENT STUFF**/
  .halfbox{
    padding: 30px 0;
  }
  .halftext{
    margin: 0 5%;
  }
  .halfimage{
    padding: 0;
  }
  /**GENERIC STUFF**/
  [class *= 'flexcol'][class *= '-900row']{
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
  }
  /**CAROUSEL STUFF**/
  .carouselarrow{
    display: flex;
  }
}
