h1{
  text-align:center;
  padding-top: 20px;
  color:#404040;
}

.brown-box,
.blue-box,
.green-box,
.gray-box,
.clear-box {
  height: 120px;
  color:white;
  margin:3px;
  text-align:left;
  padding:5px;
  border:0px;
  box-shadow: 3px 3px 5px #A0A0A0 !important;
}
.brown-box{
  background-color: #895837;
}
.blue-box{
  background-color: #525C96;
}
.green-box{
  background-color: #689167;
}
.clear-box{
  background-color:gray;
}

.gray-box{
  background-color: gray;
  height: 50px;
  color:white;
  margin:3px;
  text-align:left;
  padding:5px;
}
.large-container{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  margin:0px;
}
.mybutton{
  float:right;
  border-radius:0px;
  margin-top:5px;
  border:0px;
}
.topthing{
  padding-left:30px;
  padding-right:30px;
  padding-top:10px;
  background-color:#404040;
  height: 80px;
  color:white;
}
.block{
  padding-top:100px;
  margin-top:-80px;
}
.middle{
  margin:30px;
  margin-right:130px
}
.shortcut{
  color:#C0C0C0;
}
.shortcut:hover{
  color:#C0C0C0;
  font-weight:bold;
  text-decoration: none;
}
.sidebar{
  color:black;
  width:100px;
  float:right;
  padding-top:110;
  top:110px;
}
