}
.blackxsmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #000000;
}
.blacksmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
}
.bricksmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #922616;
}
.brickxsmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #923C26;
}
