.nav{
  background-color:#006744;
  color:white;
  position:sticky;
  top:0px;
}
.body{
 padding-top:50px;
 padding-left:30px;
 padding-right:30px;
 max-width:75%;
}
.tab{
  color:#E2E2E2;
}
.tab:hover{
  color:white;
  background-color:transparent;
}
.tab-active{
  color:white;
}
.tab-active:hover{
  color:white;
}
.title-text{
  color:#006744;
  font-size:40px;
}
.footer{
  text-align:center;
  color:#E2E2E2;
  padding:30px;
}
.footerstuff{
  color:#E2E2E2;
}
.footerstuff:hover{
  color:white;
  text-decoration: none;
}
