/* this is what you do for normal width. */
/*
.pictureframe{
left:-4032px;
right:-4032px;
height:720px;
position:absolute;
}
.picture{
height:720px;
display:block;
margin-left:auto;
margin-right:auto;
} */

/* .test1{
height:300px;
width:300px;
border-radius: 6px;
font-size: 25px;
font-family: sans-serif;
font-weight:lighter;
text-align: center;
color:transparent;
text-decoration: none;
}
.test1:hover{
background-color:rgba(255,255,255,.5);
transition: background-color .15s ease-in-out, color .15s ease-in-out;
color:#006744;
text-decoration: none;
} */

.titleblock{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:720px;
  padding:30px;
  padding-top: 300px;
  width:100%;
  text-align: center;
  text-transform: uppercase;
}
.title{
  font-size: 70px;
  font-family:sans-serif;
  font-weight:500;
  /* line-height: 52px; */
  color:white;
  margin-bottom:60px;
}
.subtitle{
  color:white;
  font-size: 25px;
  font-family: sans-serif;
  font-weight:lighter;
}
.caption{
  width:100%;
  font-size:16px;
  font-family:sans-serif;
  color:white;
  text-align:center;
}
.cquote{
  height:320px;
}
.csource{
  color:#404040;
  font-size: 20px;
  font-family: sans-serif;
  text-align: left;
  font-weight: 500;
  /* line-height: 24px; */
  vertical-align: middle;
}
.cface{
  width:64px;
  margin-right:10px;
  border-radius: 64px;
  vertical-align: middle;
}
.subtitle-dark{
  font-size: 60px;
  font-family:sans-serif;
  font-weight:500;
  /* line-height: 52px; */
  text-align:center;
  color:#27A243;
  text-transform: uppercase;
  padding-top:30px;
  padding-bottom: 30px;
}
.text,
.text-bold,
.text-n,
.text-n-bold{
  color:#404040;
  font-size: 25px;
  font-family: sans-serif;
  text-align: justify;
}
.text,
.text-n{
  font-weight: 300;
}
.text-bold,
.text-n-bold{
  font-weight:bolder;
}
.warning{
  text-align:center;
  padding:30px;
  font-size:36px;
  color:white;
  font-family:sans-serif;
  font-weight:300;
}
.cone{
  width:180px;
  padding:30px;
  margin-left:auto;
  margin-right:auto;
  background-color:#dddddd;
  border-radius:6px;
  box-shadow: .25rem 1rem 2.25rem rgba(0,0,0,.15);
}
.nav{
  text-transform: uppercase;
  font-size: 24px;
  color:#E2E2E2;
}
.nav:hover{
  color:white;
}
.nav-special{
  border:1px solid transparent;
  border-color:white;
  text-transform: uppercase;
  font-size: 24px;
  color:#E2E2E2;
  border-radius: 6px;
}
.nav-special:hover{
  background-color: white;
  color:#27A243;
  transition: color .12s ease-in-out, background-color .12s ease-in-out;
}

.button-light{
  text-align:center;
  padding:10px;
  border:1px solid;
  border-color:white;
  text-transform: uppercase;
  font-size: 24px;
  color:white;
  border-radius: 6px;
  background-color: transparent;
  text-decoration: none;
}
.button-light:hover{
  background-color:white;
  color:#27A243;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
  text-decoration: none;
}
.button-dark{
  padding:10px;
  border:1px solid;
  border-color:#E5968B;
  text-transform: uppercase;
  font-size: 24px;
  color:#E5968B;
  border-radius: 6px;
  background-color: transparent;
  text-decoration: none;
}
.button-dark:hover{
  background-color:#E5968B;
  color:white;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
  text-decoration: none;
}
.footerstuff{
  color:#E2E2E2;
}
.footerstuff:hover{
  color:white;
  text-decoration: none;
}
.footer{
  text-align:center;
  color:#E2E2E2;
  padding:30px;
  background-color:#27A243;
  margin-top:80px;
  width:100%;
}
.end{
  text-align:center;
  color:#E2E2E2;
  padding:30px;
  background-color:#27A243;
  width:100%;
}

.building{
  width:260px;
  margin:10px;
  box-shadow: .25rem 1rem 2.25rem rgba(0,0,0,.15);
  border-radius: 6px;
}
.building:hover{
  text-decoration: none;
  box-shadow: .25rem 1rem 2.25rem rgba(0,0,0,.25);
  transition: box-shadow .2s ease-in-out;
}
.building-body{
  padding:30px;
}
.building-image{
  width:100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.ads{
  margin:10px;
  color:black;
  border-left: 2px solid;
  border-left-color: #E5968B;
  padding:8px;
  box-shadow: .25rem 1rem 2.25rem rgba(0,0,0,.15);
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.ads:hover{
  text-decoration: none;
  box-shadow: .25rem 1rem 2.25rem rgba(0,0,0,.25);
  transition: box-shadow .2s ease-in-out;
}

.business{
  margin:12px;
  color:white;
}
.logo{
  height:60px;
  margin-top:18px;
  margin-left:9px;
  margin-right:9px;
}
.businesses{
  background-color:#27A243;
  padding-top:12px;
  padding-bottom:30px;
}
.text-block{
  padding-top:80px;
  padding-bottom:80px;
  padding-left:30px;
  padding-right:30px;
}
.separator{
  height:1px;
  background-color:#27A243;
}
.body{
  max-width:1200px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}
.picture{
  width:100%;
  padding-top:30px;
  padding-bottom: 30px;
}
/* .quote-carousel{
max-width:320px;
margin-left: auto;
margin-right: auto;
box-shadow: .25rem 1rem 2.25rem rgba(0,0,0,.15);
border-radius:6px;
}
.quote-block{
height:400px;
padding:30px;
margin-left: auto;
margin-right: auto;
}
.source{
font-style:italic;
font-size: 20px;
position:absolute;
bottom: 10px;
right:10px;
margin:0px;
} */
.footer{
  text-align:center;
  color:#E2E2E2;
  padding:30px;
}
.footerstuff{
  color:#E2E2E2;
}
.footerstuff:hover{
  color:white;
  text-decoration: none;
}
/* this is what you do when the screen is small. */
@media (max-width: 720px) {
  .body{
    padding-left: 10%;
    padding-right:10%;
  }
  .title{
    font-size: 40px;
    /* line-height: 30px; */
    margin-bottom: 30px;
  }
  .subtitle{
    font-size: 22px;
    /* line-height: 20px; */
  }
  .logo{
    height:30px;
    margin-top:10px;
    margin-left:5px;
    margin-right:5px;
  }
  .businesses{
    background-color:#27A243;
    padding-top:10px;
    padding-bottom:20px;
  }
  .subtitle-dark{
    font-size: 40px;
    /* line-height: 30px; */
  }
  .text,
  .text-bold,{
    font-size:22px;
    text-align:center;
  }
  .text-n,
  .text-n-bold{
    font-size:22px;
    text-align:left;
  }



  .warning{
    font-size: 22px;
  }
  .cone{
    width:120px;
    padding:10px;
  }



    /* .quote-block{
    height:360px;
  }
  .source{
  font-size: 14px;
  } */
  .button-dark,
  .button-light{
    font-size:18px;
  }
  .nav{
    font-size:18px;
  }
  .nav-special{
    font-size:18px;
  }
  .cquote{
    height:320px;
  }
  .cface{
    width:48px;
  }
  .csource{
    font-size: 18px;
    /* line-height: 18px; */
  }
}
